body {
	position: relative;
	width: 1200px;
	background: #F2FAFE;
	margin: 0px;
	padding: 0px;
	margin-top: -20px;
}

div.header {
	position: absolute;
	width: 1432px;
	height: 900px;
	left: 0px;
	top: 0px;
	background: #8AC5EC;
}

div.sky {
	position: absolute;
	width: 1432px;
	height: 912px;
	left: 84px;
	top: 64px;
}

div.menu a {
	position: absolute;
	height: 33px;
	top: 50px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 33px;
	color: #000000;
	text-decoration-line: none;
}

a.menu-about {
	left: 440px;
}

a.menu-characters {
	left: 540px;
}

a.menu-episodes {
	left: 700px;
}

a.menu-wiki {
	left: 835px;
}

img.logo {
	position: absolute;
	width: 150px;
	left: 80px;
	top: 50px;
}

h1 {
	position: absolute;
	width: 362px;
	height: 84px;
	left: 80px;
	top: 152px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	line-height: 84px;
	color: #000000;
}

p {
	position: absolute;
	width: 557px;
	height: 150px;
	left: 80px;
	top: 288px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 42px;
	color: #555555;
}

button.button-watch-now {
	position: absolute;
	width: 437px;
	height: 69px;
	left: 80px;
	top: 525px;
	background: #FAE04B;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 64px;
}

a.watch-now {
	position: absolute;
	width: 172px;
	height: 42px;
	left: 130px;
	top: 10px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 42px;
	color: #000000;
}

button.button-trailer {
	position: absolute;
	width: 277px;
	height: 69px;
	left: 80px;
	top: 620px;
	background: #DAEFFC;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 64px;
}

a.trailer {
	position: absolute;
	width: 172px;
	height: 42px;
	left: 52px;
	top: 10px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 42px;
	color: #000000;
}

img.simpsons-family {
	position: absolute;
	height: 753px;
	left: 634px;
	top: 220px;
}

img.fox {
	position: absolute;
	width: 70.91px;
	height: 30px;
	left: 80px;
	top: 750px;
}

img.disney {
	position: absolute;
	width: 92.91px;
	left: 161px;
	top: 750px;
}

img.hulu {
	position: absolute;
	width: 92.91px;
	left: 268px;
	top: 750px;
}

.block-1 h2 {
	position: absolute;
	width: 417px;
	height: 72px;
	left: 80px;
	top: 957px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 72px;
	color: #000000;
}

.block-1 button.button-seeall {
	position: absolute;
	width: 277px;
	height: 69px;
	left: 1025px;
	top: 1015px;
	background: #DAEFFC;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 64px;
}

a.seeall {
	position: absolute;
	width: 102px;
	height: 42px;
	left: 87px;
	top: 12px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 42px;
	color: #000000;
}

img.e1 {
	position: absolute;
	width: 366px;
	height: 237px;
	left: 80px;
	top: 1150px;
	border-radius: 40px;
}

img.e2 {
	position: absolute;
	width: 366px;
	height: 237px;
	left: 505px;
	top: 1150px;
	border-radius: 40px;
}

img.e3 {
	position: absolute;
	width: 366px;
	height: 237px;
	left: 933px;
	top: 1150px;
	border-radius: 40px;
}

h3.name-e1 {
	position: absolute;
	width: 320px;
	height: 27px;
	left: 80px;
	top: 1386px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}

h3.name-e2 {
	position: absolute;
	width: 320px;
	height: 27px;
	left: 505px;
	top: 1386px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}

h3.name-e3 {
	position: absolute;
	width: 378px;
	height: 27px;
	left: 933px;
	top: 1386px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}

p.text-e1 {
	position: absolute;
	width: 360px;
	height: 75px;
	left: 80px;
	top: 1430px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 25px;
	color: #000000;
}

p.text-e2 {
	position: absolute;
	width: 360px;
	height: 75px;
	left: 505px;
	top: 1430px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 25px;
	color: #000000;
}

p.text-e3 {
	position: absolute;
	width: 360px;
	height: 75px;
	left: 933px;
	top: 1430px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 25px;
	color: #000000;
}

h4.aired-e1 {
	position: absolute;
	width: 252px;
	height: 27px;
	left: 80px;
	top: 1530px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: rgba(85, 85, 85, 0.5);
}

h4.aired-e2 {
	position: absolute;
	width: 252px;
	height: 27px;
	left: 505px;
	top: 1530px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: rgba(85, 85, 85, 0.5);
}

h4.aired-e3 {
	position: absolute;
	width: 259px;
	height: 27px;
	left: 933px;
	top: 1530px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: rgba(85, 85, 85, 0.5);
}

.block-2 h2 {
	position: absolute;
	width: 518px;
	height: 72px;
	left: 80px;
	top: 1617px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 72px;
	color: #000000;
}

.block-2 button.button-seeall {
	position: absolute;
	width: 277px;
	height: 69px;
	left: 1025px;
	top: 1665px;
	background: #DAEFFC;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 64px;
}

img.s1 {
	position: absolute;
	width: 225px;
	height: 311px;
	left: 80px;
	top: 1830px;
}

img.s2 {
	position: absolute;
	width: 225px;
	height: 311px;
	left: 328px;
	top: 1830px;
}

img.s3 {
	position: absolute;
	width: 225px;
	height: 311px;
	left: 578px;
	top: 1830px;
}

img.s4 {
	position: absolute;
	width: 225px;
	height: 311px;
	left: 825px;
	top: 1830px;
}

img.s5 {
	position: absolute;
	width: 225px;
	height: 311px;
	left: 1072px;
	top: 1830px;
}

h3.name-s1 {
	position: absolute;
	width: 100px;
	height: 27px;
	left: 80px;
	top: 2140px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}

h3.name-s2 {
	position: absolute;
	width: 100px;
	height: 27px;
	left: 328px;
	top: 2140px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}

h3.name-s3 {
	position: absolute;
	width: 100px;
	height: 27px;
	left: 578px;
	top: 2140px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}

h3.name-s4 {
	position: absolute;
	width: 100px;
	height: 27px;
	left: 825px;
	top: 2140px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}

h3.name-s5 {
	position: absolute;
	width: 100px;
	height: 27px;
	left: 1072px;
	top: 2140px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}

h4.year-s1 {
	position: absolute;
	width: 105px;
	height: 27px;
	left: 80px;
	top: 2183px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: rgba(85, 85, 85, 0.5);
}

h4.year-s2 {
	position: absolute;
	width: 105px;
	height: 27px;
	left: 328px;
	top: 2183px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: rgba(85, 85, 85, 0.5);
}

h4.year-s3 {
	position: absolute;
	width: 105px;
	height: 27px;
	left: 578px;
	top: 2183px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: rgba(85, 85, 85, 0.5);
}

h4.year-s4 {
	position: absolute;
	width: 105px;
	height: 27px;
	left: 825px;
	top: 2183px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: rgba(85, 85, 85, 0.5);
}

h4.year-s5 {
	position: absolute;
	width: 105px;
	height: 27px;
	left: 1072px;
	top: 2183px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: rgba(85, 85, 85, 0.5);
}

div.block-3 {
	position: absolute;
	width: 1434px;
	height: 450px;
	left: 0px;
	top: 2407px;
	background: #8AC5EC;
}

.block-3 h2 {
	position: absolute;
	width: 609px;
	height: 132px;
	left: 558px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	line-height: 66px;
	color: #000000;
}

img.homer {
	position: absolute;
	width: 453px;
	height: 515px;
	left: 12px;
	bottom: 0px;
}

img.bart {
	position: absolute;
	width: 192px;
	height: 414px;
	left: 1244px;
	bottom: 267px;
}

.block-3 p {
	position: absolute;
	width: 797px;
	height: 96px;
	left: 558px;
	top: 175px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 32px;
	color: #555555;
}

.block-3 button.button-watch-now {
	position: absolute;
	width: 399px;
	height: 63px;
	left: 557px;
	top: 349px;
	background: #FAE04B;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 64px;
}

a.watch-now {
	position: absolute;
	width: 172px;
	height: 42px;
	left: 112px;
	top: 10px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 42px;
	color: #000000;
}

.block-3 button.button-trailer {
	position: absolute;
	width: 277px;
	height: 69px;
	left: 1059px;
	top: 350px;
	background: #DAEFFC;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 64px;
}

.block-4 h2 {
	position: absolute;
	width: 387px;
	height: 66px;
	left: 80px;
	top: 2937px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	line-height: 66px;
	color: #000000;
}

.block-4 p {
	position: absolute;
	width: 589px;
	height: 448px;
	left: 80px;
	top: 3049px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 32px;
	color: #555555;
}

.block-4 img {
	position: absolute;
	width: 476px;
	height: 622px;
	left: 956px;
	top: 2977.66px;
}

div .elips {
	position: absolute;
	width: 417px;
	height: 94px;
	left: 1016px;
	top: 3483px;
	border-radius: 50%;
	background: rgba(196, 196, 196, 0.5);
}

div .circle {
	position: absolute;
	width: 284px;
	height: 284px;
	left: 662px;
	top: 3205px;
	border-radius: 50%;
	background: #7BBCE7;
	border: 3px solid #000000;
	box-sizing: border-box;
	box-shadow: 10px 4px 4px #000000;
}

.circle h3 {
	position: absolute;
	width: 154px;
	height: 78px;
	left: 70.79999999999995px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	color: #000000;
	transform: rotate(5deg);
}

.circle p {
	position: absolute;
	width: 253.43px;
	height: 136px;
	left: 10.200000000000045px;
	top: 90px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
	color: #555555;
	transform: rotate(5deg);
}

.block-5 h2 {
	position: absolute;
	width: 610px;
	height: 72px;
	left: 80px;
	top: 3624px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 72px;
	color: #000000;
}

.block-5 button.button-charactes {
	position: absolute;
	width: 423px;
	height: 69px;
	left: 989px;
	top: 3681px;
	background: #DAEFFC;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 64px;
}

a.charactes {
	position: absolute;
	width: 260px;
	height: 42px;
	left: 80px;
	top: 13px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 42px;
	color: #000000;
}

.homerS {
	position: absolute;
	width: 229px;
	height: 229px;
	left: 80px;
	top: 3816px;
	border-radius: 50%;
	background: #8AC5EC;
}

.homerS img {
	position: absolute;
	width: 188px;
	height: 272px;
	left: 20px;
	top: -42px;
	border-radius: 100px;
}

.margeS {
	position: absolute;
	width: 229px;
	height: 229px;
	left: 351px;
	border-radius: 50%;
	top: 3816px;
	background: #8AC5EC;
}

.margeS img {
	position: absolute;
	width: 188px;
	height: 272px;
	left: 20px;
	top: -42px;
	border-radius: 100px;
}

.bartS {
	position: absolute;
	width: 229px;
	height: 229px;
	left: 623px;
	top: 3816px;
	border-radius: 50%;
	background: #8AC5EC;
}

.bartS img {
	position: absolute;
	height: 273px;
	left: 11px;
	top: -42px;
	border-radius: 100px;
}

.lisaS {
	position: absolute;
	width: 229px;
	height: 229px;
	left: 895px;
	top: 3816px;
	border-radius: 50%;
	background: #8AC5EC;
}

.lisaS img {
	position: absolute;
	height: 257px;
	left: 46px;
	top: -24px;
	border-radius: 100px;
}

.maggieS {
	position: absolute;
	width: 229px;
	height: 229px;
	left: 1170px;
	top: 3816px;
	border-radius: 50%;
	background: #8AC5EC;
}

.maggieS img {
	position: absolute;
	height: 250px;
	left: 10px;
	top: -17px;
	border-radius: 100px;
}

.block-5 h4 {
	position: absolute;
	width: 186px;
	height: 27px;
	left: 30px;
	top: 216px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}

.block-6 h2 {
	position: absolute;
	width: 383px;
	height: 72px;
	left: 80px;
	top: 4146px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 72px;
	color: #000000;
}

.block-6 h3 {
	position: absolute;
	width: 807px;
	height: 32px;
	left: 80px;
	top: 4263px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	color: #555555;
}

.block-6 p {
	position: absolute;
	width: 719px;
	height: 352px;
	left: 80px;
	top: 4352px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 32px;
	color: #555555;
}

.block-6 button.button-products {
	position: absolute;
	width: 423px;
	height: 69px;
	left: 989px;
	top: 4200px;
	background: #DAEFFC;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 64px;
}

a.products {
	position: absolute;
	width: 232px;
	height: 42px;
	left: 98px;
	top: 10px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 42px;
	color: #000000;
}

.block-6 button.button-buy-now {
	position: absolute;
	width: 399px;
	height: 63px;
	left: 80px;
	top: 4771px;
	background: #FAE04B;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 64px;
}

a.buy-now {
	position: absolute;
	width: 232px;
	height: 42px;
	left: 82px;
	top: 10px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 42px;
	color: #000000;
}

.circle1 {
	position: absolute;
	width: 299.72px;
	height: 299.72px;
	left: 1104.27px;
	top: 4303.84px;
	border-radius: 50%;
	background: #7BBCE7;
	border: 3px solid #000000;
	box-sizing: border-box;
	box-shadow: 10px 4px 4px #000000;
	transform: rotate(-10deg);
}

.circle1 h3 {
	position: absolute;
	width: 154px;
	height: 78px;
	left: 57px;
	top: -12px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	color: #000000;
	transform: rotate(-10deg);
}

.circle1 p {
	position: absolute;
	width: 253.43px;
	height: 170px;
	left: 27px;
	top: 74px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
	color: #555555;
	transform: rotate( -10deg);
}

.block-6 img.merch {
	position: absolute;
	width: 474px;
	height: 474px;
	left: 742px;
	top: 4476px;
}

.block-6 img.maggie {
	position: absolute;
	height: 379px;
	left: 1109px;
	top: 4677px;
}

.block-6 div.elips {
	position: absolute;
	width: 417px;
	height: 94px;
	left: 1016px;
	top: 4947px;
	border-radius: 50%;
	background: rgba(196, 196, 196, 0.5);
}

.block-7 h2 {
	position: absolute;
	width: 417px;
	height: 72px;
	left: 80px;
	top: 5003px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 72px;
	color: #000000;
}

.block-7 .block-7-1 {
	position: absolute;
	width: 366px;
	height: 237px;
	top: 4081px;
	border-radius: 40px;
}

.block-7-1 h4 {
	position: absolute;
	width: 154px;
	height: 27px;
	top: 1070px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: #555555;
}

h4.name-e1 {
	left: 80px;
}

h4.name-e2 {
	left: 505px;
}

h4.name-e3 {
	left: 933px;
}

.block-7 .block-7-2 {
	position: absolute;
	width: 366px;
	height: 237px;
	top: 4659px;
	border-radius: 40px;
}

.block-7-2 h4 {
	position: absolute;
	width: 209px;
	height: 27px;
	top: 1070px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: #555555;
}

.block-7-1 h3 {
	position: absolute;
	width: 366px;
	height: 81px;
	top: 1379px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
}

h3.text-e1 {
	left: 80px;
}

h3.text-e2 {
	left: 505px;
}

h3.text-e3 {
	left: 933px;
}

.block-7-1 p {
	position: absolute;
	width: 366px;
	height: 108px;
	top: 1466px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: #555555;
}

.block-7-2 h3 {
	position: absolute;
	width: 366px;
	height: 81px;
	top: 1381px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
}

h3.text-e1 {
	left: 80px;
}

h3.text-e2 {
	left: 505px;
}

h3.text-e3 {
	left: 933px;
}

.block-7-2 p {
	position: absolute;
	width: 366px;
	height: 108px;
	top: 1477px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: #555555;
}

.block-8 h2 {
	position: absolute;
	width: 792px;
	height: 66px;
	left: 80px;
	top: 6454px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	line-height: 66px;
	color: #000000;
}

.block-8 p {
	position: absolute;
	width: 906px;
	height: 36px;
	left: 80px;
	top: 6581px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.block-8 input {
	position: absolute;
	width: 468px;
	height: 63px;
	left: 146px;
	top: 6994px;
	border: 3px solid #000000;
	box-sizing: border-box;
	filter: drop-shadow(5px 4px 4px #000000);
	border-radius: 64px;
	position: absolute;
	width: 429px;
	height: 54px;
	left: 80px;
	top: 6710px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 39px;
	color: #000000;
}

.block-8 button {
	position: absolute;
	width: 399px;
	height: 63px;
	left: 656px;
	top: 6994px;
	background: #FAE04B;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 64px;
	position: absolute;
	width: 430px;
	height: 55px;
	left: 545px;
	top: 6710px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 39px;
	color: #000000;
}

.block-8 img {
	position: absolute;
	width: 281px;
	height: 430px;
	left: 981px;
	top: 6376px;
}

.block-9 {
	position: absolute;
	width: 1434px;
	height: 450px;
	left: 0px;
	top: 6940px;
	background: #8AC5EC;
}

.block-9 div.elips {
	position: absolute;
	width: 417px;
	height: 94px;
	left: 72px;
	top: 465px;
	border-radius: 50%;
	background: rgba(196, 196, 196, 0.5);
}

.block-9 img {
	position: absolute;
	width: 458px;
	height: 538px;
	left: 31px;
	top: -36px;
}

.block-9 h2 {
	position: absolute;
	width: 806px;
	height: 72px;
	left: 558px;
	top: 0px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 72px;
	color: #000000;
}

.block-9 p {
	position: absolute;
	width: 835px;
	height: 144px;
	left: 558px;
	top: 103px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

button.google-play, button.amazon, button.apple {
	position: absolute;
	width: 268px;
	height: 84px;
	top: 309px;
	background: #FAE04B;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 4px 4px #000000;
	border-radius: 20px;
}

button.amazon {
	left: 1135px;
}

button.google-play {
	left: 844px;
}

button.apple {
	left: 553px;
}

button.apple img, button.google-play img, button.amazon img {
	position: absolute;
	height: 62px;
	width: 52px;
	left: 8px;
	top: 12px;
}

button.apple h5, button.google-play h5, button.amazon h5 {
	position: absolute;
	width: 188px;
	height: 30px;
	left: 65px;
	top: -37px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 30px;
	color: #000000;
}

button.apple h4, button.google-play h4, button.amazon h4 {
	position: absolute;
	width: 210px;
	height: 42px;
	left: 54px;
	top: -13px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 42px;
	color: #000000;
}

.footer img.logo {
	position: absolute;
	width: 150px;
	left: 80px;
	top: 7582px;
}

.footer .menu a {
	position: absolute;
	height: 33px;
	left: 80px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 33px;
	color: #555555;
	text-decoration-line: none;
}

.footer a.menu-about {
	top: 7690px;
}

.footer a.menu-characters {
	top: 7735px;
}

.footer a.menu-episodes {
	top: 7780px;
}

.footer a.menu-wiki {
	top: 7825px;
}

.footer input {
	position: absolute;
	width: 468px;
	height: 63px;
	left: 146px;
	top: 8301px;
	border: 3px solid #000000;
	box-sizing: border-box;
	filter: drop-shadow(5px 4px 4px #000000);
	border-radius: 64px;
	position: absolute;
	width: 429px;
	height: 54px;
	left: 80px;
	top: 7871px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 39px;
	color: #000000;
}

.footer img.instagram {
	position: absolute;
	width: 64px;
	left: 80px;
	top: 7952px;
}

.footer img.facebook {
	position: absolute;
	width: 64px;
	left: 150px;
	top: 7952px;
}

.footer img.twitter {
	position: absolute;
	width: 64px;
	left: 220px;
	top: 7952px;
}

.footer h3 {
	position: absolute;
	width: 396px;
	height: 84px;
	left: 79px;
	top: 8016px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #000000;
}

.footer img.full-family {
	position: absolute;
	width: 561px;
	left: 862px;
	top: 7537px;
}

button.button-watch-now:hover,
.block-3 button.button-watch-now:hover, 
.block-6 button.button-buy-now:hover, 
.block-8 button:hover,
button.google-play:hover,
button.amazon:hover,
button.apple:hover {
	background: #d6aa44;
}

button.button-trailer:hover,
.block-1 button.button-seeall:hover,
.block-2 button.button-seeall:hover,
.block-3 button.button-trailer:hover,
.block-6 button.button-products:hover,
.block-5 button.button-charactes:hover {
	background: #4f84b0;
}

button.button-watch-now:active,
.block-3 button.button-watch-now:active, 
.block-6 button.button-buy-now:active, 
.block-8 button:active,
button.google-play:active,
button.amazon:active,
button.apple:active {
	background: #f8d84e;
}

button.button-trailer:active,
.block-1 button.button-seeall:active,
.block-2 button.button-seeall:active,
.block-3 button.button-trailer:active,
.block-6 button.button-products:active,
.block-5 button.button-charactes:active {
	background: #86cdf1;
}

@media screen and (max-width: 800px) {
	div.header {
		position: absolute;
		width: 533px;
		height: 380px;
		left: 0px;
		top: 0px;
		background: #8AC5EC;
	}

	.header img.sky {
		position: absolute;
		width: 533px;
		height: 329px;
		left: 0px;
		top: 0px;
	}

	img.simpsons-family {
		position: absolute;
		height: 316px;
		left: 218px;
		top: 119px;
	}

	img.logo {
		position: absolute;
		width: 110px;
		left: 11px;
		top: 25px;
	}

	h1 {
		position: absolute;
		width: 362px;
		height: 84px;
		left: 13px;
		top: 59px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 84px;
		color: #000000;
	}

	p {
		position: absolute;
		width: 280px;
		height: 150px;
		left: 13px;
		top: 125px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #555555;
	}

	button.button-watch-now {
		position: absolute;
		width: 173px;
		height: 34px;
		left: 12px;
		top: 237px;
		background: #FAE04B;
		border: 1px solid #000000;
		box-sizing: border-box;
		box-shadow: 5px 4px 4px #000000;
		border-radius: 64px;
	}

	a.watch-now {
		position: absolute;
		width: 172px;
		height: 42px;
		left: 0px;
		top: -6px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 42px;
		color: #000000;
	}

	button.button-trailer {
		position: absolute;
		width: 95px;
		height: 34px;
		left: 12px;
		top: 277px;
		background: #DAEFFC;
		border: 1px solid #000000;
		box-sizing: border-box;
		box-shadow: 5px 4px 4px #000000;
		border-radius: 64px;
	}

	img.fox {
		position: absolute;
		width: 28.909999999999997px;
		height: 12px;
		left: 22px;
		top: 340px;
	}

	img.disney {
		position: absolute;
		width: 44.91px;
		left: 56px;
		top: 339px;
	}

	img.hulu {
		position: absolute;
		width: 38.91px;
		left: 106px;
		top: 343px;
	}

	a.trailer {
		position: absolute;
		width: 172px;
		height: 42px;
		left: -39px;
		top: -5px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 42px;
		color: #000000;
	}

	.block-1 h2 {
		position: absolute;
		width: 417px;
		height: 72px;
		left: 35px;
		top: 409px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 72px;
		color: #000000;
	}

	.block-1 button.button-seeall {
		position: absolute;
		width: 95px;
		height: 42px;
		left: 400px;
		top: 450px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 42px;
		color: #000000;
	}

	a.seeall {
		position: absolute;
		width: 172px;
		height: 24px;
		left: -40px;
		top: 0px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 42px;
		color: #000000;
	}
	
	img.e1 {
		position: absolute;
		width: 310px;
		height: 190px;
		left: 103px;
		top: 527px;
		border-radius: 40px;
	}
	h3.name-e1 {
		position: absolute;
		width: 263px;
		height: 27px;
		left: 124px;
		top: 707px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		color: #000000;
	}

	h4.aired-e1 {
		position: absolute;
		width: 252px;
		height: 27px;
		left: 124px;
		top: 803px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
		color: rgba(85, 85, 85, 0.5);
	}

	p.text-e1 {
		position: absolute;
		width: 265px;
		height: 75px;
		left: 124px;
		top: 739px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}

	img.e2 {
		position: absolute;
		width: 310px;
		height: 190px;
		left: 103px;
		top: 874px;
		border-radius: 40px;
	}

	img.e3 {
		position: absolute;
		width: 310px;
		height: 190px;
		left: 103px;
		top: 1230px;
						border-radius: 40px;
	}

	h3.name-e2 {
		position: absolute;
		width: 263px;
		height: 27px;
		left: 124px;
		top: 1059px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		color: #000000;
	}

	h3.name-e3 {
		position: absolute;
		width: 263px;
		height: 27px;
		left: 124px;
		top: 1413px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		color: #000000;
	}

	p.text-e2 {
		position: absolute;
		width: 265px;
		height: 75px;
		left: 124px;
		top: 1090px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}

	p.text-e3 {
		position: absolute;
		width: 265px;
		height: 75px;
		left: 124px;
		top: 1469px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}
	h4.aired-e2 {
		position: absolute;
		width: 252px;
		height: 27px;
		left: 124px;
		top: 1154px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
		color: rgba(85, 85, 85, 0.5);
	}

	h4.aired-e3 {
		position: absolute;
		width: 252px;
		height: 27px;
		left: 124px;
		top: 1532px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
		color: rgba(85, 85, 85, 0.5);
	}

	.block-2 h2 {
		position: absolute;
		width: 417px;
		height: 72px;
		left: 35px;
		top: 1600px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 72px;
		color: #000000;
	}

	img.s1 {
		position: absolute;
		width: 167px;
		height: 250px;
		left: 70px;
		top: 1717px;
	}

	img.s2 {
		position: absolute;
		width: 167px;
		height: 250px;
		left: 282px;
		top: 1717px;
	}

	h3.name-s1 {
		position: absolute;
		width: 100px;
		height: 27px;
		left: 117px;
		top: 1954px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		color: #000000;
	}

	h3.name-s2 {
		position: absolute;
		width: 100px;
		height: 27px;
		left: 324px;
		top: 1954px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		color: #000000;
	}

	h4.year-s1 {
		position: absolute;
		width: 105px;
		height: 27px;
		left: 117px;
		top: 1980px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
		color: rgba(85, 85, 85, 0.5);
	}

	h4.year-s2 {
		position: absolute;
		width: 105px;
		height: 27px;
		left: 324px;
		top: 1980px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
		color: rgba(85, 85, 85, 0.5);
	}

	img.s3 {
		position: absolute;
		width: 167px;
		height: 250px;
		left: 70px;
		top: 2047px;
	}

	div.menu a {
		position: absolute;
		height: 33px;
		top: 33px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 33px;
		color: #000000;
		text-decoration-line: none;
	}
	
	a.menu-about {
		left: 200px;
	}
	
	a.menu-characters {
		left: 250px;
	}
	
	a.menu-episodes {
		left: 333px;
	}
	
	a.menu-wiki {
		left: 405px;
	}
	
	h3.name-s3 {
		position: absolute;
		width: 100px;
		height: 27px;
		left: 117px;
		top: 2283px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		color: #000000;
	}

	h4.year-s3 {
		position: absolute;
		width: 105px;
		height: 27px;
		left: 117px;
		top: 2310px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
		color: rgba(85, 85, 85, 0.5);
	}

	img.s4 {
		position: absolute;
		width: 167px;
		height: 250px;
		left: 282px;
		top: 2047px;
	}

	.block-2 button.button-seeall {
		position: absolute;
		width: 95px;
		height: 42px;
		left: 400px;
		top: 1640px;
		background: #DAEFFC;
		border: 1px solid #000000;
		box-sizing: border-box;
		box-shadow: 5px 4px 4px #000000;
		border-radius: 64px;
	}

	h3.name-s4 {
			position: absolute;
			width: 100px;
			height: 27px;
			left: 324px;
			top: 2282px;
			font-family: Tahoma;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 27px;
			color: #000000;
	}

	h4.year-s4 {
		position: absolute;
		width: 105px;
		height: 27px;
		left: 324px;
		top: 2310px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
		color: rgba(85, 85, 85, 0.5);
	}

	img.s5 {
		position: absolute;
		width: 167px;
		height: 250px;
		left: 70px;
		top: 2375px;
	}

	h3.name-s5 {
		position: absolute;
		width: 100px;
		height: 27px;
		left: 117px;
		top: 2612px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		color: #000000;
	}

	h4.year-s5 {
		position: absolute;
		width: 105px;
		height: 27px;
		left: 117px;
		top: 2637px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
		color: rgba(85, 85, 85, 0.5);
	}
	div.block-3 {
		position: absolute;
		width: 533px;
		height: 167px;
		left: 0px;
		top: 2739px;
		background: #8AC5EC;
	}

	img.homer {
		position: absolute;
		width: 170px;
		height: 193px;
		left: 1px;
		bottom: 0px;
	}

	img.bart {
		position: absolute;
		width: 80px;
		height: 180px;
		left: 453px;
		bottom: 109px;
	}
	.block-3 h2 {
		position: absolute;
		width: 254px;
		height: 153px;
		left: 152px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 23px;
		color: #000000;
	}

	.block-3 p {
		position: absolute;
		width: 336px;
		height: 96px;
		left: 153px;
		top: 49px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #555555;
	}

	.block-3 button.button-watch-now {
		position: absolute;
		width: 173px;
		height: 34px;
		left: 146px;
		top: 126px;
		background: #FAE04B;
		border: 1px solid #000000;
		box-sizing: border-box;
		box-shadow: 5px 4px 4px #000000;
		border-radius: 64px;
	}

	.block-3 button.button-trailer {
		position: absolute;
		width: 95px;
		height: 34px;
		left: 346px;
		top: 126px;
		background: #DAEFFC;
		border: 1px solid #000000;
		box-sizing: border-box;
		box-shadow: 5px 4px 4px #000000;
		border-radius: 64px;
	}

	body {
		position: relative;
		background: #F2FAFE;
		margin: 0px;
		padding: 0px;
		width: 518px;
		margin-top: -20px;
	}

	.block-4 h2 {
		position: absolute;
		width: 387px;
		height: 66px;
		left: 35px;
		top: 2901px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 66px;
		color: #000000;
	}


	.block-4 p {
		position: absolute;
		width: 313px;
		height: 448px;
		left: 35px;
		top: 2959px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #555555;
	}

	.block-4 img {
		position: absolute;
		width: 223px;
		height: 267px;
		left: 314px;
		top: 3047.66px;
	}

	.block-4 .elips {
		position: absolute;
		width: 189px;
		height: 43px;
		left: 327px;
		top: 3263px;
		border-radius: 50%;
		background: rgba(196, 196, 196, 0.5);
	}

	.block-4 .circle {
		position: absolute;
		width: 140px;
		height: 140px;
		left: 365px;
		top: 2916px;
		border-radius: 50%;
		background: #7BBCE7;
		border: 1px solid #000000;
		box-sizing: border-box;
		box-shadow: 10px 4px 4px #000000;
	}

	.circle h3 {
		position: absolute;
		width: 154px;
		height: 78px;
		left: -12px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: #000000;
		transform: rotate(5deg);
	}

	.block-4 .circle p {
		position: absolute;
		width: 118px;
		height: 448px;
		left: -9px;
		top: 39px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 19px;
		color: #555555;
	}
	.block-5 h2 {
		position: absolute;
		width: 417px;
		height: 72px;
		left: 35px;
		top: 3295px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 72px;
		color: #000000;
	}

	.homerS img {
		position: absolute;
		width: 123px;
		height: 179px;
		left: 14px;
		top: -28px;
		border-radius: 100px;
	}

	.homerS {
		position: absolute;
		width: 150px;
		height: 150px;
		left: 80px;
		top: 3410px;
		border-radius: 50%;
		background: #8AC5EC;
	}
	.margeS {
		position: absolute;
		width: 150px;
		height: 150px;
		left: 282px;
		border-radius: 50%;
		top: 3410px;
		background: #8AC5EC;
	}

	.block-5 h4 {
		position: absolute;
		width: 124px;
		height: 27px;
		left: 20px;
		top: 137px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		line-height: 27px;
		color: #000000;
	}

	.margeS img {
		position: absolute;
		width: 140px;
		height: 193px;
		left: 1px;
		top: -42px;
		border-radius: 100px;
	}

	.bartS {
		position: absolute;
		width: 150px;
		height: 150px;
		left: 80px;
		top: 3611px;
		border-radius: 50%;
		background: #8AC5EC;
	}

	.bartS img {
		position: absolute;
		height: 186px;
		left: 5px;
		top: -34px;
		border-radius: 100px;
	}

	.lisaS {
		position: absolute;
		width: 150px;
		height: 150px;
		left: 282px;
		top: 3611px;
		border-radius: 50%;
		background: #8AC5EC;
	}

	.lisaS img {
		position: absolute;
		height: 163px;
		left: 39px;
		top: -13px;
		border-radius: 100px;
	}

	.maggieS {
		position: absolute;
		width: 150px;
		height: 150px;
		left: 80px;
		top: 3816px;
		border-radius: 50%;
		background: #8AC5EC;
	}

	.maggieS img {
		position: absolute;
		height: 165px;
		left: 3px;
		top: -17px;
		border-radius: 100px;
	}

	.block-5 button.button-charactes {
		position: absolute;
		width: 144px;
		height: 46px;
		left: 374px;
		top: 3336px;
		background: #DAEFFC;
		border: 1px solid #000000;
		box-sizing: border-box;
		box-shadow: 5px 4px 4px #000000;
		border-radius: 64px;
	}

	a.charactes {
		position: absolute;
		width: 140px;
		height: 42px;
		left: 1px;
		top: 10px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
	}

	.block-6 h2 {
		position: absolute;
		width: 417px;
		height: 72px;
		left: 35px;
		top: 4000px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 72px;
		color: #000000;
	}

	.block-6 button.button-products {
		position: absolute;
		width: 160px;
		height: 45px;
		left: 359px;
		top: 4046px;
		background: #DAEFFC;
		border: 1px solid #000000;
		box-sizing: border-box;
		box-shadow: 5px 4px 4px #000000;
		border-radius: 64px;
	}

	a.products {
		position: absolute;
		width: 232px;
		height: 42px;
		left: -36px;
		top: 0px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 42px;
		color: #000000;
	}

	.block-6 h3 {
		position: absolute;
		width: 506px;
		/* height: 9px; */
		left: 35px;
		top: 4083px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 32px;
		color: #555555;
	}

	.block-6 p {
		position: absolute;
		width: 352px;
		height: 352px;
		left: 35px;
		top: 4117px;
		font-family: Tahoma;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: #555555;
	}

	.block-6 .circle1 {
		position: absolute;
		width: 140px;
		height: 140px;
	    left: 371px;
		top: 4118px;
		border-radius: 50%;
		background: #7BBCE7;
		border: 1px solid #000000;
		box-sizing: border-box;
		box-shadow: 10px 4px 4px #000000;
	}
}